/*  Style Guide:
 *    Transparent: 70% Opacity
 *
 *    White:      #FFFFFF
 *    Grey-White: #F5F5F5
 *    Faint-Grey: #ECECEC
 *    Light-Grey: #DDDDDD
 *    Grey:       #C5C5C5
 *    Grey-Black: #4A4A4A
 *    Black:      #000000
 *    Neon-Green: #00CBA0
 */
/* Overall rules */
.blueprint {
	display: none;
}

html,body {
	position: relative;

	margin: 0;
	padding: 0;
	border-spacing: 0;

	height: 100%;
	width: 100%;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;

	-webkit-user-select: none;
}
.pure-g [class*="pure-u"] {
	font-family: inherit;
	font-weight: inherit;
}
::-webkit-scrollbar { 
	display: none; 
}
.body {
	position: relative;

	/*height: -webkit-calc(100% - 80px);*/
	height:100%;
	-webkit-box-sizing:border-box;
}

/* UI Header */
.header {
	height: 80px;
	width: 100%;

	background-color: #212121;
}
.logo {
	padding-left: 20px;
	padding-top: 14px;
	pointer-events: none;
}
.logo-container:hover {
	cursor: pointer;
}

/* Header Buttons */
/*
.header-button {
	float: right;
	display: none;
	padding: 30px;
	font-size: 16px;
	color: #AAAAAA;
}
.header-button:hover {
	color: #00CBA0;
	cursor: pointer;
}*/
.update-button{
	color:#eee;
	font-family: "Roboto", sans-serif;
	padding-left:20px;
	margin-top:10px;
}

/* Sidebar */
#sidebar {
	position: relative;

	background-color: #444;
	width: 200px;
	z-index: 1000;
	height: 100%;

	-webkit-box-sizing:border-box;
	border-left: 0 solid #F5F5F5;
	border-right: 0 solid #F5F5F5;
}
.button {
	display: flex;
	font-size: 16px;
	align-items: center;
	position: relative;
	height: 60px;

	transition: all .25s;
	-webkit-animation: fadein .4s;
	-webkit-box-sizing:border-box;

	color: #ddd;
}
.pure-g .button {
	font-family: 'Roboto Mono';
	font-weight:500;
	text-transform: uppercase;
}
.button:hover {
	cursor: pointer;
	color: #F5F5F5;
	background-color: rgba(255,255,255,0.1);
}
.button:active {
	background-color: ;
}
.button.current {
	transition: all .25s;
	cursor: default;
	color: #00CBA0;
}
.button .icon{
	-webkit-filter: invert(100%);
}
@keyframes fadeout {
	from { opacity: default; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: default; }
}
.button .icon {
	max-height: 30%;
	padding-left: 16px;
}
.button .text {
	padding: 4px;
	padding-left: 8px;
}

/* Mainbar */
#mainbar {
	transition: all .25s;
	-webkit-animation: ease-in fadein 1.4s;
	flex-grow: 1;
	height: 100%;
	background-color: #ffffff;
}
#mainbar.transition {
	transition: all .25s;
	opacity: 0;
}
.webview {
	position: absolute;
	height: 100%;
	min-width: calc(100% - 200px);
	right: 0;
	opacity: 0;
	z-index: -1;
}
.webview.current {
	opacity: 1;
	z-index: 0;
}

/* Tooltip Bubble */
#tooltip {
	display: inline-block;
	display: none;
	position: absolute;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.75);
}
#tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.75);
	border-width: 8px;
	margin-left: -8px;
}

/* Notifications */
.notification-container {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.notification {
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.5s;
	padding:5px 10px;
	margin-bottom:10px;
}
.notification .icon {
	display: inline-block;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	color: #00CBA0;
}
.notification .content {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #333;
	line-height:40px;
	padding-left:10px;
	max-width:280px;
}
.notification.hoverable:hover {
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.notification.type-error .icon, .notification.type-exit .icon {
	color: #E57373;
}
.notification.type-success .icon {
	color: #81C784;
}
