/*  Style Guide:
 *    Transparent: 70% Opacity
 *
 *    White:      #FFFFFF
 *    Grey-White: #F5F5F5
 *    Faint-Grey: #ECECEC
 *    Light-Grey: #DDDDDD
 *    Grey:       #C5C5C5
 *    Grey-Black: #4A4A4A
 *    Black:      #000000
 *    Neon-Green: #00CBA0
 */
/* Overall rules */
@import url('./vars.css');
@import url('./components/loading.css');
@import url('./components/sidebar.css');
.blueprint {
	display: none;
}

html,body {
	position: relative;

	margin: 0;
	padding: 0;
	border-spacing: 0;

	height: 100%;
	width: 100%;

	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 300;
	font-size: 18px;

	-webkit-user-select: none;
}
.pure-g [class*="pure-u"] {
	font-weight: 300;
}
::-webkit-scrollbar { 
	display: none; 
}
.body {
	display: flex;
	height: calc(100% - 24px);
	position: relative;
}

/* UI Header */
.header {
	color: white;
	font-size: 12px;
	height: 24px;
	width: 100%;

	background-color: #313133;
	background: linear-gradient(to left, #313133 15%, #0b0e16 85%);
}
.logo {
	padding: calc(1.5 * var(--unit));
	pointer-events: none;
}
.logo svg {
	width: 100%;
}
.logo-container:hover {
	cursor: pointer;
}
.status-bar div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75%;
	margin-left: 5px;
	margin-right: 5px;
}
.status-bar i {
	margin-right: 10px;
	margin-left: 10px;
}
.status-bar-unsynced {
	color: #E0000B;
}
.status-bar-synced {
	color: var(--main-color);
}
.status-bar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 8px;
	cursor: default;
}
.status-bar-blockheight {
	color: #f5f5f5;
}

/* Header Buttons */
.header-button {
	float: right;
	display: none;
	padding: 30px;
	font-size: 16px;
	color: #AAAAAA;
}
.header-button:hover {
	color: var(--main-color);
	cursor: pointer;
}
@keyframes fadeout {
	from { opacity: default; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: default; }
}

/* Mainbar */
#mainbar {
	transition: all .25s;
	-webkit-animation: ease-in fadein 1.4s;
	flex-grow: 1;
	height: 100%;
	background-color: #ffffff;
}
#mainbar.transition {
	transition: all .25s;
	opacity: 0;
}
.webview {
	position: absolute;
	height: 100%;
	min-width: calc(100% - var(--sidebar-width));
	right: 0;
	opacity: 0;
	z-index: -1;
}
.webview.current {
	opacity: 1;
	z-index: 0;
}

/* Tooltip Bubble */
#tooltip {
	display: inline-block;
	display: none;
	position: absolute;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.75);
}
#tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.75);
	border-width: 8px;
	margin-left: -8px;
}

/* Notifications */
.notification-container {
	position: fixed;
	right: 40px;
	bottom: 40px;
}
.notification {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	margin-top: 20px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-transition: box-shadow 2s;
	transition: box-shadow 0.5s;
}
.notification .icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 48px;
	text-align: center;
	color: var(--main-color);
	background-color: #f5f5f5;
	border-right: 1px solid #eeeeee;
}
.notification .content {
	display: inline-block;
	padding: 14px;
	vertical-align: top;
	width: 300px;
	height: 52px;
	font-size: 18px;
	color: #757575;
}
.notification.hoverable:hover {
	cursor: pointer;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}
.notification.type-error .icon, .notification.type-exit .icon {
	color: #E57373;
	background-color: #FFCDD2;
}
.notification.type-success .icon {
	color: #81C784;
	background-color: #C8E6C9;
}

/* Misc */
#errorlog {
	display: none;
	color: #000;
	font-size: 20px;
	resize: none;
	overflow: auto;
	width: 700px;
	height: 500px;
	border: none;
	outline: none;
	box-shadow: none;
}

.overlay {
	transition: opacity var(--duration-in) var(--opacity-transition) 0ms;
	display: inline-flex;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;

	text-align: center;
	font-size: 35px;
	background-color: #fff;
	opacity: 1;
}
.overlay--hidden {
	opacity: 0;
	pointer-events: none;
}
.centered {
	opacity: 1;
	color: var(--main-color);
	margin: auto;
}
.centered p {
	margin: 0;
}
