/*  Style Guide: 
 *    Transparent: 70% Opacity
 *    
 *    White:      #FFFFFF
 *    Grey-White: #F5F5F5
 *    Faint-Grey: #ECECEC
 *    Light-Grey: #DDDDDD
 *    Grey:       #C5C5C5
 *    Grey-Black: #4A4A4A
 *    Black:      #000000
 *    Neon-Green: #00CBA0
 */
/* Overall Effects */
@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
select, input, html, body {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
html, body {
	height: 100%;
	min-width: 100%;
	font-family: "Roboto",sans-serif;
	background:#212121;
}
select, input {
	position: relative;
	box-shadow: none;
	border: none;
	border-radius: none;
	background: transparent;
	font-size:16px;
	border-bottom:  1px solid #eee;
}
select {
	background:#fff;
}
select:focus, input:focus {
	outline: none;
	border-bottom:  1px solid #fff;
}
select:hover {
	cursor: pointer;
}
input{
	padding:6px 0;
	font-size: 16px;
	color:#eee;
	margin-left:5px;
}

.hidden {
	display: none;
}

/* Plugin header */
.header {
	padding: 20px 20px 10px 20px;
	background-color: #333;
	color: #fff;
	height: 50px;
	vertical-align: top;
}
.header h3.title {
	display: inline-block;
	font-size:24px;
	color: #eee;
	font-family:"Roboto Mono";
	margin:0;
	margin-top:4px;
}
.header .capsule {
	white-space: nowrap;
	float: right;
	font-size: 16px;
}
.capsule {
	position: absolute;
	right: 20px;
	max-height: 50px;
	max-width: calc(100% - 200px);
	display: inline-block;
	border: 1px solid #00CBA0;

	border-radius: 0;
	overflow: hidden;
}
.capsule .pod {
	display: inline-block;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 1px solid #00CBA0;
	color: #f5f5f5;
}
.capsule .pod.button:hover {
	color: #00CBA0;
}
.capsule .pod * {
	display: inline-block;
}
.capsule .pod:last-child {
	border: none;
}

/* Main Display */
.frame {
	height: 100%;
	overflow: hidden;
	color: #999999;
	font-size: 26px;
	position: relative;
	width: 100%;
	-webkit-animation: fadein 0.5s;
}
.button {
	-webkit-user-select: none;
}
.button:hover {
	color: #4a4a4a;
	cursor: pointer;
}

/* nicer scrollbars */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background:transparent;
	border-left:1px solid #444;
}

::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.4)
}