/* roboto-mono-regular - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Mono'), local('RobotoMono-Regular'),
		url('../fonts/roboto-mono/roboto-mono-v4-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-mono-500 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
		url('../fonts/roboto-mono/roboto-mono-v4-latin-500.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-mono-700 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
		url('../fonts/roboto-mono/roboto-mono-v4-latin-700.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}


/* roboto-100 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'),
		url('../fonts/roboto/roboto-v15-latin-100.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/roboto/roboto-v15-latin-300.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/roboto/roboto-v15-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/roboto/roboto-v15-latin-500.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('../fonts/roboto/roboto-v15-latin-700.woff2') format('woff2') /* Chrome 26+, Opera 23+ */
}