:root {
	--main-color: #70E98D;
	--light-main-color: #93EEA9;
	--dark-main-color: #00C760;
	--secondary-text-color: rgba(0, 0, 0, 0.54);
	--danger-color: #E25141;
	--light-danger-color: #FC6B5B;
	--dark-danger-color: #C93828;
	--unit: 8px;

	--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--ease-out: cubic-bezier(0.0, 0, 0.2, 1);
	--opacity-transition: cubic-bezier(0.4, 0, 0.2, 1);
	--duration-in: 225ms;
	--duration-out: 195ms;
	--z-modal: 1300;
}
