{
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": "2.0.2",
          "node": 8
        },
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "stage-3"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "react-hot-loader/babel"
      ]
    },
    "plugins": ["syntax-dynamic-import"]
  }
}