{
  "presets": [
    ["env", {
      "targets": {
        "electron": 1.6
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "react",
    "stage-3"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "electron": 1.6
          }
        }],
        "react",
        "stage-3"
      ]
    }
  }
}
