/*	Style Guide:
 *		Transparent: 70% Opacity
 *
 * 		White:      #FFFFFF
 * 		Grey-White: #F5F5F5
 *		Faint-Grey: #ECECEC
 *		Light-Grey: #DDDDDD
 *		Grey:       #C5C5C5
 * 		Grey-Black: #4A4A4A
 * 		Black:      #000000
 */

html,body {
	position: relative;

	height: 100%;
	min-height: 380px; /* 80 for header + 60 for up to 5 sidebar buttons */
	min-width: 480px;

	-webkit-user-select: none;
}

/* UI Header */
.header {
	height: 80px;
	width: 100%;

	background-color: #F5F5F5;
}
.logo-container {
	padding-left: 20px;
	padding-top: 14px;
}
.logo {
	opacity: 0.7;

	pointer-events: none;
}

.body {
	position: relative;

	height: -webkit-calc(100% - 80px);
	-webkit-box-sizing:border-box;
}

/* Sidebar */
.sidebar {
	position: relative;

	background-color: #FFFFFF;
	max-width: 240px;
	min-width: 160px;
	z-index: 1000;
	height: 100%;
}
.sidebar-fill {
	position: absolute;

	-webkit-box-sizing:border-box;
	border-left: 2px solid #ECECEC;
	border-right: 4px solid #ECECEC;
	height: 100%;
}
.sidebar-button {
<<<<<<< HEAD
	display:flex;
	font-size: 16px;
	align-items:center;
	position: relative;
	height: 60px;
=======
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	
	position: relative;
	height: 60px;
	padding-top: 15px;
>>>>>>> Styling changes to icon and button

	-webkit-box-sizing:border-box;
	border-left: 2px solid #ECECEC;
	border-right: 4px solid #ECECEC;
	border-bottom: 2px solid #ECECEC;

	color: #4A4A4A

	-webkit-user-select: text;
}
.sidebar-button:hover {
	cursor: pointer;
	background-color: #DDDDDD;
}
.sidebar-icon {
	max-height: 30%;
	max-width: 30%;
	padding-left: 16px;
}
.sidebar-text {
	padding: 4px;
	padding-left: 8px;
}

.mainbar {
	flex-grow: 1;
	height: 100%;
	background-color: #C5C5C5;
}
