#sidebar {
	--sidebar-width: calc(10 * var(--unit));
}

#sidebar {
	position: relative;
	background: #F6F6F6;
	width: var(--sidebar-width);
	z-index: 5;
	height: 100%;

	-webkit-box-sizing:border-box;
	border-left: 0 solid #F5F5F5;
	border-right: 1px solid #EEEEEE;
}

.button {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 80px;

	transform: translateX(-100%);
	transition:
		all .25s,
		transform var(--duration-in) var(--opacity-transition);
	-webkit-animation: fadein .4s;
	-webkit-box-sizing:border-box;

	color: #606060;
}
.button--in {
	transform: translateX(0);
}
.button:hover {
	cursor: pointer;
	background-color: #C5C3C5;
	color: #F5F5F5;
}
.button:active {
	background-color: ;
}
.button.current {
	transition: all .25s;
	cursor: default;
	background-color: var(--main-color);
	color: #F5F5F5;
}
.button.current .icon, .button:hover .icon {
	-webkit-filter: invert(100%);
}
.button .icon {
	max-height: 30%;
}
.button .text {
	letter-spacing: 0;
	padding-top: 8px;
}
